<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.solvd.atm.persistence.AddressRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into addresses (city, street, house) values (#{city}, #{street}, #{house})
    </insert>

    <select id= "read" resultMap="AddressResultMap">
        select id, city, street, house from addresses where id = #{id}
    </select>

    <resultMap id="AddressResultMap" type="com.solvd.atm.domain.Address" autoMapping="false">
        <id property="id" column="id"/>
        <result property= "city" column="city"/>
        <result property= "street" column="street"/>
        <result property= "house" column="house"/>
    </resultMap>

    <update id= "update" useGeneratedKeys="false">
        update addresses set city = #{city}, street = #{street}, house = #{house} where id = #{id}
    </update>

    <delete id= "delete">
        delete from addresses where id = #{id}
    </delete>
</mapper>