<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.solvd.atm.persistence.AtmRepository">
    <insert id="create" keyColumn="id" keyProperty="atm.id" useGeneratedKeys="true">
        insert into atms (bank_id, address_id) values (#{bankId}, #{addressId})
    </insert>

    <select id="read" resultMap="AtmResultMap">
        select a.id as atm_id, a.bank_id as bank_id, a.address_id as address_id,
        c.id as cash_id, c.currency_type as currency_type, c.denomination as denomination, c.quantity as quantity from atms a
        left join cash c on a.id = c.atm_id where a.id = #{id}
    </select>

    <resultMap id="AtmResultMap" type="com.solvd.atm.domain.Atm" autoMapping="false">
        <id property="id" column="atm_id"/>
        <association property="address" resultMap="com.solvd.atm.persistence.AddressRepository.AddressResultMap"/>
        <collection property= "balance" resultMap="com.solvd.atm.persistence.CashRepository.CashResultMap"/>
    </resultMap>

    <update id="update" useGeneratedKeys="false">
        update atms set bank_id = #{bankId}, address_id = #{addressId} where id = #{id}
    </update>

    <delete id="delete">
        delete from atms where id = #{id}
    </delete>
</mapper>