<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.solvd.atm.persistence.ClientRepository">
    <insert id="create" keyColumn="id" keyProperty="client.id" useGeneratedKeys="true">
        insert into clients (account_id, name, surname) values (#{accountId}, #{client.name}, #{client.surname})
    </insert>

    <select id= "read" resultMap="ClientResultMap">
        select id, account_id, name, surname from clients where id = #{id}
    </select>

    <resultMap id="ClientResultMap" type="com.solvd.atm.domain.Client" autoMapping="false">
        <id property="id" column="id"/>
        <result property= "name" column="name"/>
        <result property= "surname" column="surname"/>
        <association property= "account" resultMap="com.solvd.atm.persistence.AccountRepository.AccountResultMap"/>
    </resultMap>

    <update id= "update" useGeneratedKeys="false">
        update clients set name = #{name}, surname = #{surname} where id = #{id}
    </update>

    <delete id= "delete">
        delete from clients where id = #{id}
    </delete>
</mapper>