<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.atm.persistence.TransactionRepository">
    <insert id="create" keyColumn="id" keyProperty="transaction.id" useGeneratedKeys="true">
        insert into transactions (atm_id, card_id, date_time, message, result)
        values (#{atmId}, #{cardId}, #{transaction.dateTime}, #{transaction.message}, #{transaction.result})
    </insert>

    <select id="read" resultType="boolean">
        select count(*)
        from transactions
        where card_id=#{cardId} and message like '%blocked%';
    </select>
</mapper>